.form {
  grid-row: form-start / form-end;
  grid-column: 2 / 3;

  &__text {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    border: none;
    box-shadow: $color-shadow;
    text-indent: 1.8rem;
    font-size: 2.2rem;
    color: $color-text;
    padding-right: 2rem;
    outline: none;

    &:focus {
      border: 0.2rem solid $color-month-2;
    }
  }
}
